/nbproject/*
/Lib/*
nbproject/private/private.xml
api/config/database.php

Kainchi_Workspace.code-workspace
api/config/database.php
api/config/database.php
api/config/database.php
Lib/phpexcel/*
batch/config/__pycache__/
batch/helpers/__pycache__/
batch/helpers/parser/__pycache__/
batch/__pycache__/
api/config/database.php
api/test.php
