/*
Custom scroll-bar for KDMS
*/
.scrollbar-dynamic-search
{
	float: left;
	max-height: 400px;
	width: 250px;
	background: #F5F5F5;
	overflow-y: scroll;
}

.scrollbar-dash
{
	height: 200px;
    width: inherit;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 400px;
}

#wrapper
{
	text-align: center;
	/* width: 500px;*/
	margin: auto;
}


#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


td .table-data{
    padding-left: 65px;
}
.kdms-active-event {
	width: 20%;
}
.kdms-active-event h3 {
	margin: 0;
	font-weight: 500;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kdms-top-nav-searchbar {
	width: 70%;

}
.kdms-top-nav-searchbar span {
	width: 100%;
}
.kdms-top-nav-searchbar .bmd-form-group {
	position: absolute;
    right: 400px;
    max-width: 253px;
}
.kdms-user {
	margin-right: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kdms-title h3 {
	font-weight: 500;
	margin: 0;
	padding: 10px 0px;
}

.sidebar .logo {
    padding: 5px 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -160px;
}

.kdms-navbar-items {
    right: 0;
	width: 100%;
}

#search-result-container {
	position: absolute;
    top: 80%;
	width: 100%;
	z-index: 100;
	margin-top: 10px;
}

.search-result{
	padding: 20px;
	background-color: rgb(255, 255, 255);
	font-size: 16px;color:grey;

}
.search-result{
	border:solid 1px grey;
}
.card .card-header {
	z-index: 0!important;
}

.sidebar .sidebar-wrapper {
	width: auto;
}

.main-panel {
	margin-top: 5%;
}

.kdms-top-navbar {
	position: fixed;
	z-index: 1000;
}


@media (max-width: 991px) {
	.kdms-top-navbar {
		width: 100%;
	}
	.sidebar {
		margin-top: 65px;
	}
	.kdms-toggle-navbar {
		margin-top: 10px;
	}	
	.kdms-active-event {
		width: 75%;
	}
	.card-icon {
		display: block;
	}
	.card-category {
		display: block;
	}
	.event-title-sidebar {
		display: none;
	}
	.kdms-active-event {
		display: block;
	}
	.kdms-modal {
		max-width: 575px;
	}
}

@media (min-width: 992px) {
	.main-panel {
		min-width: 72%;
		width: 0;
	}
	.kdms-top-navbar {
		width: 72%;
		margin-left: 28%;
	}
	div.sidebar {
		width: 28%!important;
	}
	h3.card-title {
		margin-top: 15px!important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.card.card-stats {
		min-height: 257px;
	}
	.card-icon {
		display: none;
	}
	.card-category {
		display: none;
	}
	.event-title-sidebar {
		display: block;
	}
	.kdms-active-event {
		display: none;
	}
	.kdms-modal {
		max-width: 800px;
	}	
}

@media (min-width: 1504px) {
	.main-panel {
		min-width: 82%;
		width: 0;
	}
	.kdms-top-navbar {
		width: 82%;
		margin-left: 18%;
	}
	div.sidebar {
		min-width: 15%!important;
		max-width: 18%!important;
	}
	.card-icon {
		display: block;
	}
	.card-category {
		display: block;
	}
	.event-title-sidebar {
		display: none;
	}
	.kdms-active-event {
		display: block;
	}
}
th.assign-devotees {
	text-align: center;
}


.devoteeImage {
	/* height: 320px;
	width: 240px; */
	max-width: 150px !important;
    max-height: 180px !important;
	/* max-width: 320px !important;
    max-height: 240px !important; */
}

.devoteeImageStatic {
	height: 180px;
	width: 180px;
}

/* .card-devotee-image-profile {
	max-height: 350px;
} */

.kdms-modal-addDevotee {
	max-width: 1300px;
}

.kdms-adddevotee-card-title {
	display: inline;
}

/* camera modal custom CSS */
@media (max-width: 991px)  {
	.camera-modal-content {
		max-width: 600px !important;
	}
	.upload-photo {
		display: none;
	}
	.upload-doc {
		display: none;
	}
	.open-camera {
		display: block;
	}
	.video-live-preview {
		display: none;
	}
	.click-pic {
		display: none;
	}
	#click-pic {
		display: none;
	}
}

@media (min-width: 992px) {
	.camera-modal-content {
		max-width: 550px !important;
	}
	.upload-photo {
		display: block;
	}
	.upload-doc {
		display: none;
	}
	.open-camera {
		display: block;
	}
	.video-live-preview {
		display: block;
	}
	.click-pic {
		display: none;
	}
	#click-pic {
		display: none;
	}
}

@media (min-width: 1504px) {
	.camera-modal-content {
		max-width: 550px !important;
	}
	.upload-photo {
		display: block;
	}
	.upload-doc {
		display: block;
	}
	.click-pic {
		display: block;
	}
	#click-pic {
		display: inline;
	}
	.open-camera {
		display: none;
	}
	.video-live-preview {
		display: block;
	}
	
}


#cameraFileInput, #cameraIDFileInput {
	display: none;
}

.photoImage {
    width: 150px !important;
    height: 180px !important;
	object-fit: cover;
}

.photoCanvas {
    width: 150px !important;
    height: 180px !important;
    /* object-fit: cover; */
	/* object-fit: cover; */
}
.photoIDCanvas {
	width: 586px !important;
    /* width: 340px !important; */
    /* height: 320px !important; */
    height: 550px !important;
    /* object-fit: cover; */
	/* object-fit: contain; */
}

.videoliveplay {
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
}

.photo-preview {
	margin: 0 auto;
	min-height: 218px;
}

.resetScaling {
	position: absolute;
    right: 10px;
    height: 34px;
    width: 34px;
	cursor: pointer; 
}

.devoteeImage {
	width: 200px;
  	height: 300px;
	z-index: 1000;
}

.photoCanvas {
	margin-top: 20px;
}
.photoImage {
	margin-top: 20px;
}

.action-btn {
	min-width: 150px;
	margin-left: 10px;
}

/* mobile */
@media (max-width: 991px)  {
	.id-upload-modal {
		max-width: 1000px;
		height: 300px;
	}
	.scan-id-container {
		border: 2px dotted darkgrey;
	}
	.scan-image-container {
		border: none;
	}
	.id-image-preview {
		border: 2px solid darkgrey;
		max-width: 260px;
	}
	.scan-id-action-section {
		margin-top: 15px;
	}
	.photo-id-preview {
		object-fit: contain;
		max-width: 325px;
   		width: 100%;
	}
	.photoIDCanvas {
		width: 325px !important;
		object-fit: contain;
		transform: rotate(90deg);
	}
	.system-camera-layout {
		display: none;
	}
	.ocr-reader-panel {
		display: none;
	}
	.ocr-reader-panel-message {
		position: absolute;
		padding: 10px;
		top: 50px;
		display: block;
	}
	.mobile-image-devotee-photo {
		display: block;
	}
}
/* ipad */
@media (min-width: 992px) {
	.id-upload-modal {
		max-width: 1000px;
		height: 300px;
	}
	.scan-id-container {
		border: 2px dotted darkgrey;
	}
	.scan-image-container {
		border-right: 2px dotted darkgrey;
	}
	.id-image-preview {
		border: 2px solid darkgrey;
		max-width: 260px;
	}
	.scan-id-action-section {
		margin-top: 15px;
	}
	.photo-id-preview {
		object-fit: contain;
		max-width: 325px;
   		width: 100%;
	}
	.system-camera-layout {
		display: block;
	}
	.ocr-reader-panel {
		display: block;
	}
	.ocr-reader-panel-message {
		display: none;
	}
	.mobile-image-devotee-photo {
		display: none;
	}
}
/* desktop or laptop */
@media (min-width: 1504px) {
	.id-upload-modal {
		max-width: 1000px;
		height: 300px;
	}
	.scan-id-container {
		border: 2px dotted darkgrey;
	}
	.scan-image-container {
		border-right: 2px dotted darkgrey;
	}
	.id-image-preview {
		border: 2px solid darkgrey;
		max-width: 260px;
	}
	.scan-id-action-section {
		margin-top: 15px;
	}
	.videoliveplay-left {
		text-align:right;
	}
	.videoliveplay-right {
		text-align:left;
	}
	.ocr-reader-panel {
		display: block;
	}
	.ocr-reader-panel-message {
		display: none;
	}
	.mobile-image-devotee-photo {
		display: none;
	}
}

.blacklist_label {
	color: #F5F5F5; 
	font-weight: 500; 
	font-size: 12px; 
	margin-top: 15px;
}

.blacklist_container {
	text-align: center;
	background-color: red;
	animation: blinker 1s linear infinite;
	width: 100px;
	height: 50px;
	background: red;
	border-radius: 100px / 50px;
}

.id-image-preview-container {
	justify-content: center;
}

/* kdms ocr specific CSS */

.image-selection-area {
	min-width: 100%;
	height: 100%;
	min-height: 200px;
	background-color: #ffffff;
	border: 2px solid #808080;
	border-radius: 5px;
}

.image-selection-area-label {
	font-size: 24px;
}

.ocr-id-image-preview-section {
	min-width: 100%;
	height: auto;
	/* min-height: 250px; */
	/* min-height: 200px; */
	background-color: #ffffff;
	/* border: 3px dotted #808080; */
	border-radius: 10px;
	display: flex;
    justify-content: center;
}

.gender-kdms-ocr-view {
	margin-top: 0 !important;
}
.dragBox {
    width: 100%;
    height: 200px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-weight: bold;
	line-height: 95px;
	color: #999;
	border: 2px dashed #ccc;
	display: inline-block;
	transition: transform 0.3s;
	font-size: 24px;
  }
  input[type="file"] {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
  }
  .draging {
	transform: scale(1.1);
  }
  
.action-btns {
	display: flex;
    justify-content: left;
}
.ocr-image-upload-parser-preview {
	height: 100px;
	width: 100px;
	margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.selected-images {
	/* min-height: 150px; */
	display: none;
}

#ocr_image_preview {
	display: flex;
    max-width: 100%;
    overflow-x: scroll;
}

#loading {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
}
  
#loading-image {
	position: absolute;
	top: 100px;
	z-index: 100;
}

.ocr-selected-parser-preview-image {
	max-width: 300px;
	max-height: 225px;
}

#active-preview-image:active {
	scale: 2.2;
}
#active-preview-image {
	object-fit: contain;
	border: 3px solid #808080;
}
.search-result-image-scale:active {
	scale: 3;
}
.table-responsive-ocr-temp-image-upload {
	height: 400px;
}